/* Sidebar */
    #sidebar {
      position: absolute;
      right: 10px;
      top: 25%;
      float:left;
      z-index: 10000;
      padding: 0;
    
    }

    nav.stick {
        position: fixed;
        top: 25%;
        margin-top:12px;
    }

    nav ul {
        list-style-type:none;
    }

    nav li a{

    }
    nav li a div {
      height: 10px;
      width: 10px;
      background: #e73644;
      /*border-radius: 50%;*/
      border: 1px solid #bf2134;
    }

    .nav-active div{
        background: #269d78;
        border: 1px solid #35a956;
    }

